.sidebar{ 
    background-color: rgb(3, 3, 37);
    color: #c2c7d0;
}

.card{
    background-color: gray;
}

.user-image{
    border-radius: 50%;
    height: 4vh;
}

.user-line{
   background-color:#4f5962;
}

.nav-item a{
    color: #c2c7d0;
}

.nav-link{
    padding: 0;
}